img{
    width: 250px;
   

}
ul{
    text-decoration: none;
    text-align: center;
}
li{
    text-decoration: none;
    font-size: 30px;
    margin-top: 30px;
}
div{
    text-decoration: none;
    background-color: beige;
}
h1{
    font-style: italic;
}