<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<script src="funciones.js"></script>

<div class="jumbotron">
    <h1 class="display-4" style="text-align: center;">Bienvenido a la Enciclopedia de Heroes</h1>
    <p></p>

    <p class="lead"></p>
    <hr class="my-4">
    <p>A continuacion te puedes suscribir para no perder cualquier informacion relacionada a tus heroes favoritos</p>
    
    <!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" style="text-align:center;">
  Registrarse
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Registro</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <form (submit)="alta(nombre, sexo, correo, cumpleanios)">
      <div class="form-group" style="text-align: center;" >
        <p>Nombre:</p>
        <input type="text"  #nombre>
      </div>
      <div class="form-goup" style="text-align: center;">
        <p></p>
        <p>
          Sexo:<br>
          <input type="radio"  #sexo value="masculino"> Masculino<br>
          <input type="radio" #sexo value="femenino"> Femenino
        </p>
      </div>
      <div class="form-goup" style="text-align: center;">
        <p>Correo Electronico:</p>
        <input type="text"  #correo>
        <p></p>
      </div>
        <div class="form-goup" style="text-align: center;">
        <p>Fecha de Nacimiento:</p>
        <p><input type="date" #cumpleanios step="1" min="1950-01-01" max="2022-12-31" value="2022-01-01">
        </p>
      </div>
        

      
      
        
        <button  class="btn btn-primary btn-block" data-dismiss="modal">Guardar</button>

        

      
    </form>
    </div>
  </div>
</div>



  </div>

